################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserFlow/.vs/UserFlow/v14
/UserFlow/bin/Debug
/UserFlow/obj/Debug
/UserFlow/packages
